body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.imagenLogo {
 width: 100%;
 margin-top: 15px;
 margin-left: 20px;
}

.padding{
  padding: 10px;
}



.fondobotonverde{
background: #87C140;
border: none;
}

.marginafuera{
  margin-right: 15px;
}

.fondobotonesinicio {
  background: #F3D111;
  border-color: white;
  text-decoration: none;
  margin-right: 5px;
}

.ultimosproductos {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
  color:  #F3D111;
}

h1.textoblanco{
  color: white;
}

p.textoblanco{
  color: white;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border: none;
}
.modal-header {
  padding: 15px;
  border:none;
}


.fondogris {
  background: #A9A8A9;
}

.fondogrisclaro {
  background: #DDDDDD;
}
